<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qscolumns">

    <application
        android:allowBackup="true"
        android:label="QS Columns + Restart Tile">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Set QS columns to 5 and add Restart SystemUI tile" />
        <meta-data
            android:name="xposedminversion"
            android:value="101" /> <!-- Update to modern API version -->

    </application>

</manifest>
